<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trey Miller</title>
    <link rel="icon" href="/assets/images/mainLogo.jpg">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/056d3909b3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
  <div class="ui inverted segment attached">
    <div class="ui inverted secondary menu">
      <div class="header item">
        Trey Miller - Koella Moore
      </div>
      <div class="ui">
        <i id="menu" class="bars icon"></i>
          <div class="menu">
            <a href="/" class="item">
              Home
            </a>
            <a href="about" class="item">
              About Trey
            </a>
            <a href="portfolio" class="item">
              Portfolio
            </a>
            <a href="contact" class="item">
              Contact
            </a>
            <a href="blog" class="item">
              Blog
            </a>
          </div>
  
      </div>
    </div>
  </div>
