<%- include("partials/header") %>

<div class="videoHolder">
    <video autoplay loop muted playsinline alt="PortFolioVideo" poster="../assets/images/bellIsland.jpg" src="../assets/videos/Trey-Miller_Website-Loop_Compressed_R1.mp4"></video>
</div>

<div class="ui mainPanel">

    <div class="ui">
        <div class="ui container">
            <div class="mainPanelRight">
                <img class="ui big image bordered" id="profilePic" src="../assets/images/treyPortrait.jpg">   
                <h2>About Trey</h2>
                <p>
                    I started my commercial real estate brokerage career on July 7, 2008. If you happened to be on another
                    planet at that time, it’s worth noting that the global financial crisis was in full swing. I have an
                    impeccable sense of timing.<br><br>
                    
                    While that was a difficult moment to start in the industry, it forced me to work on a variety of
                    complicated deals. Most of my clients were lenders or distressed sellers, and I spent a great deal of time
                    and energy trying to understand which properties were marketable, to whom, and at what price. While I
                    wasn&#39;t setting any records with my sales volumes, I learned a great deal about the process of selling and
                    leasing commercial real estate.<br><br>

                    The time spent working through the crisis years made it clear to me that local knowledge, global
                    marketing reach, client communication, and honesty were requirements I must possess for my clients to
                    succeed.<br><br>

                    It also made me a firm believer in innovative research, communication, and marketing platforms, and
                    taught me the importance of thoughtfully explaining the situations at hand and not shying away from
                    hard conversations with my clients.<br><br>

                    As the market began to recover in 2010, the lessons I learned started paying dividends. Since then, I
                    have completed $110M in closed transactions, and many of my most significant deals have been in
                    Sevier County. The land assemblage for a Publix redevelopment ($14.5M), the sale of Belle Island Village
                    ($10.5M) and the ground lease for the Dave and Buster&#39;s in Sevierville, TN ($8M) are notable projects
                    that would not have been possible without the lessons I learned during the crisis years.
                    Just as important, these projects allowed me to support my roots. I was born and raised in Gatlinburg,
                    TN, and I’m a graduate of Gatlinburg-Pittman High School, The University of Tennessee, and Clemson
                    University.<br><br>

                    Armed with hard-earned experience, I now specialize in retail land sales. In most cases, I represent the
                    seller or landlord on properties whose most likely developed use is general retail, grocery, restaurant,
                    hotel, or mixed-use.<br><br>

                    East Tennessee has always been my home, and I’m grateful for the chance to support economic
                    development and job creation in this community while also providing solutions for my clients.
                </p>
            </div>
        </div>
    </div>

</div>

<div data-aos="fade-up" class="ui container portfolio marginTop">
    <h2> Portfolio </h2>
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">First</a>
        <a class="item" data-tab="second">Second</a>
        <a class="item" data-tab="third">Third</a>
        <a class="item" data-tab="fourth">Fourth</a>
        <a class="item" data-tab="fifth">Fifth</a>
        <a class="item" data-tab="sixth">Sixth</a>
      </div>
      <div class="ui bottom attached tab segment active" data-tab="first">
        <div class="sixteen wide column portDisplay">
            <img class="ui fluid image"  src="../assets/images/publix2.jpg">
            <div class="portHeaders">
                <h2 class="portHeader">Publix Assemblage</h2><i class="fas fa-chevron-circle-down dropdownBtn"></i>
                <span>January, 2015</span>             
            </div>
            <div id="portDescription" class="dropDown">
                <p class="portInfo">Assembled an 8-acre site on the Parkway for development of a Publix-anchored shopping
                    center. This project involved 11 separate transactions -- deals with eight fee simple owners and
                    three leaseholders -- and took approximately 15 months from initial conversations to deal
                    closing. Project received $3 million of incentive financing from the City of Pigeon Forge and
                    resulted in my recognition as CCIM’s Retail Broker of the Year.</p>
            </div>
        </div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="second">
        <div class="sixteen wide column">
            <img class="ui fluid image"  src="../assets/images/bellIsland.jpg">
            <div class="portHeaders">
                <h2 class="portHeader">Bell Island Transcation</h2><i class="fas fa-chevron-circle-down dropdownBtn"></i>             
                <span> November, 2011</span>
            </div>
            <div id="portDescription" class="dropDown">
                <p class="portInfo">One of two brokers who represented Regions Bank in selling the retail portion of 
                    Belle Island Village, a specialty entertainment project that was partially completed before being 
                    acquired by the lender at a foreclosure sale. The project was sold to a local developer and is now 
                    home to attractions including The Great Smoky Mountain Wheel, Paula Deen’s Family Kitchen, 
                    Margaritaville and Build-A-Bear Workshop.
                </p>
            </div>        
        </div>
      </div>
        <div class="ui bottom attached tab segment" data-tab="third">
            <div class="sixteen wide column">
                <img class="ui fluid image" src="../assets/images/daveBusters.jpg">
                <h2 class="portHeader">Dave and Buster's Transaction</h2>
                <span>April, 2019</span>
            </div>
            <div id="portDescription" class="dropDown">
                <p class="portInfo">Represented the landowner on a two-part transaction. Negotiated an LOI with Dave 
                    & Buster’s Corporate for a 20-year lease valued at $25 million. Subsequently negotiated an approximately
                    $8.4 million deal with Johnson Development to ground lease the underlying land and construct the 
                    restaurant property, as outlined in the LOI.
                </p>
            </div>   
        </div>
        <div class="ui bottom attached tab segment" data-tab="fourth">
            <div class="sixteen wide column">
                <img class="ui fluid image"  src="https://images.unsplash.com/photo-1430285561322-7808604715df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
                <h2 class="portHeader">MNB Operations Center Sale</h2>
                <span>November, 2014</span>
            </div>
            <div id="portDescription" class="dropDown">
                <p class="portInfo">After Mountain National Bank was closed by regulators, was hired by the
                    FDIC and a management firm to sell three bank buildings, including the former Mountain 
                    National Operations Center in Sevierville. The operations center was sold to Sevier County and is 
                    now used for educational purposes, including a satellite campus of East Tennessee State University.
                </p>
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="fifth">
            <div class="col-6">
                <img class="ui fluid image" src="../assets/images/fairfieldInn.jpg">
                <h2 class="portHeader">Fairfield Inn Suite</h2>
                <span>August, 2017</span>
            </div>
            <div id="portDescription" class="dropDown">
                <p class="portInfo">Represented landowner on the sale of 2.5 acres for development of a Fairfield Inn. 
                    I have represented the same owner on multiple transactions, including the sale of land for development 
                    of a Hilton Garden Inn and the sale of two additional sites for hotels that have not yet been identified.
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="sixth">
            <div class="sixteen wide column">
                <img class="ui fluid image"  src="https://images.unsplash.com/photo-1567493756992-e2b6227cddc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
                <h2 class="portHeader">Local Goat Lease</h2>
                <span>March, 2016</span>
            </div>
            <div id="portDescription" class="dropDown">
                <p class="portInfo">Represented the landowner on a two-part transaction. Negotiated an LOI with Dave 
                    & Buster’s Corporate for a 20-year lease valued at $25 million. Subsequently negotiated an approximately
                    $8.4 million deal with Johnson Development to ground lease the underlying land and construct the 
                    restaurant property, as outlined in the LOI.
                </p>
            </div>   
        </div>
    </div>
</div>

<div data-aos="fade-up" class="ui container clients marginTop">
    <h2>Clients</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="clientLogo" src="/assets/images/CHM-Logo.png">
            </div>
            <div class="swiper-slide">
                <img class="clientLogo" src="/assets/images/hutton.png">
            </div>
            <div class="swiper-slide">
                <img class="clientLogo" src="/assets/images/KPH.png">
            </div>
            <div class="swiper-slide">
                <img class="clientLogo" src="/assets/images/MCB.gif">
            </div>
            <div class="swiper-slide">
                <img class="clientLogo" style="
                height: 4em;
                margin-top: 1rem;
            " src="/assets/images/PILOT.png">
            </div>
            <div class="swiper-slide">
                <img class="clientLogo" src="/assets/images/RESIGHT.png">
            </div>
            <div class="swiper-slide">
                <img class="clientLogo" src="/assets/images/SDS.png">
            </div>
            <div class="swiper-slide">
                <img class="clientLogo" src="/assets/images/Suntrust.png">
            </div>
            <div class="swiper-slide">
                <img class="clientLogo" src="/assets/images/TN State Bank.png">
            </div>
        </div>
        <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

<div data-aos="fade-up" class="ui container firm marginTop">
    <h2>Firm Info</h2>
    <p>NAI Koella | RM Moore combines the local market expertise of more than 26 East Tennessee advisors with the 
        resources and international reach of the NAI Global network to provide unparalleled real estate brokerage services to our clients.</P>

    <p>With offices in Knoxville and Sevierville, our brokers specialize in areas including retail, industrial, office and investment 
    transactions, while our property management team supports landlords and investors, managing 2,802,378 square feet, across East Tennessee.</p>
        
    <p>As part of the NAI Global network, NAI Koella | RM Moore has access to 6,000 professionals in more than 375 offices around the world, and uses innovative sales, marketing and analysis tools to achieve solutions for our clients.</p>

    <p>
        NAI Koella | RM Moore is proud to have four members of the Society of Industrial and Office Realtors and six brokers designated as Certified Commercial Investment Members.
    </p>
</div>

<div data-aos="fade-up" class="ui container testimonials marginTop">
    <h2>Testimonials</h2>
    <div class="ui styled fluid accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          Charles Rullick | Consultant – Housing &amp; Mixed Use <br>
        </div>
        <div class="content">
            <em><strong>Venice, California</strong></em>
          <p class="transition visible" style="display: block !important;">
            Trey and I first met while studying real estate development at Clemson. After years of school projects,
            shop talk, and acting as professional sounding boards for each other, it’s clear his work and career are
            representative of his belief in the value of multidisciplinary thinking in real estate. This approach has
            allowed him to handle the most complicated deals and transactions because of the creativity and multi-
            angled approach it often requires to get difficult projects to the finish line.</P> 
            
            <p>Trey is a skilled deal maker, one who has the ability to connect with his clients to fully understand their needs. He cares about the
            end result and understands the nuances and ever evolving dynamics of current market realities. His
            broad knowledge and experience within the commercial real estate industry positions him as an
            invaluable advisor capable of adding value to any deal. Most importantly, Trey has a keen sense of
            humor and laid-back attitude which lessens the burden of complex tasks. I recommend Trey without
            reservation both personally and as an extremely valuable professional.
        </p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Creighton Cross | President/Chief Appraiser at Accurity: Braun &amp; Associates, Inc.
        </div>
        <div class="content">
            <em><strong>Knoxville, Tennessee</strong></em>
          <p>Trey is an incredible resource and the go to contact in the retail sector, especially in Sevier County. Trey
            has been instrumental in helping clients find the property or space they are looking for. His experience
            with leasehold properties, tourism and retail in a difficult market area is more than a value-added
            service.</p>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          Tate Tatum | President R.S Tatum and Company
        </div>
        <div class="content">
            <em><strong>Knoxville, Tennessee</strong></em>
          <p>Trey is a personable detail-oriented person who adds value as a broker. He&#39;s hands on when
            working with landowners and tenants alike. We enjoyed conducting business with him and
            would recommend him to any developer or tenant looking for property.</p>
        </div>
      </div>
</div>

<%- include('partials/footer') %>